{% extends "core/base.html" %}
{% load static %}

{% block title %}Sign Up{% endblock title %}
{% block content %}
<section id="hero" class="h-screen" style="background-image: url('{% static 'core/images/netflix-hero-image.jpg' %}');">
	<div class="h-full w-full bg-black/80">
		<nav class="w-[60%] flex justify-between mx-auto py-4">
			<a href="{% url 'core:index' %}"><img src="{% static 'core/images/netflix-logo.png' %}" alt="Netflix Logo" width="160"></a>
			<a href="{% url 'core:success' %}"><button class="py-2 px-4 rounded bg-red-700 text-white font-semibold">Sign In</button></a>
		</nav>

		<div class="h-screen flex flex-col justify-center">
            <div class="bg-black/50 p-20 rounded-lg w-[560px] mx-auto">
                <h1 class="text-5xl font-bold text-white">Sign Up</h1>
                <form action="." method="POST" class="text-white mt-8">
                    {% csrf_token %}
   
                    {{ form.email }}
                    {% if form.email.errors %}
                    <div class="text-red-500 text-sm my-2">
                        {% for error in form.email.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                    {{ form.name }}
                    {% if form.name.errors %}
                        <div class="text-red-500 text-sm my-2">
                            {% for error in form.name.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {{ form.password1 }}
                    {% if form.password1.errors %}
                        <div class="text-red-500 text-sm my-2">
                            {% for error in form.password1.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
        
                    {{ form.password2 }}
                    {% if form.password2.errors %}
                        <div class="text-red-500 text-sm my-2">
                            {% for error in form.password2.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
        
                    <button class="mt-8 py-4 px-4 w-[400px] rounded bg-red-700 text-white text-xl font-semibold">Sign Up</button>                 
                </form>
                {% if form.non_field_errors %}
                    <div class="text-red-500 text-sm mt-4">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
	</div>
</section>

{% endblock content %}
