{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_css %}
</head>
<body class="bg-[#151514]">
    <nav class='h-fit py-6 bg-gradient-to-b from-[#060606] to-[#131213]'>
        <div class="max-w-[90%] mx-auto flex justify-between items-center">
            <div class='flex gap-14 text-white items-center'>
                <img src="{% static 'core/images/netflix-logo.png' %}" width="100px">
                <div class='flex gap-6'>
                    <a href="#" class='font-semibold hover:text-gray-200 visited:text-white'>Home</a>
                    <a href="#" class='font-semibold hover:text-gray-200 visited:text-white'>TV Shows</a>
                    <a href="#" class='font-semibold hover:text-gray-200 visited:text-white'>Movies</a>
                    <a href="#" class='font-semibold hover:text-gray-200 visited:text-white'>New & Popular</a>
                    <a href="#" class='font-semibold hover:text-gray-200 visited:text-white'>My List</a>
                </div>
            </div>

            <div class="flex items-center text-white gap-6">
                <div class="relative">
                    <input type="text" class="bg-black w-[300px] border border-white placeholder:text-lg pl-10 focus:ring-0 focus:border-white" placeholder="Titles, people, genres">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 absolute top-2 left-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                    </svg>  
                </div>      
                
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>
                  
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                </svg>
                
                <div class="flex items-center gap-2">
                    <img src="{{ profile.avatar.image.url }}" alt="" width="40px" class="rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>                      
                </div>
            </div>
        </div>
    </nav>
</body>
</html>